{% extends 'base.html.twig' %}

{% block title %}Symfony Reservation{% endblock %}

{% block body %}
    {% if reservations %}
        <table id="reservation" class="table table-striped">
            <thead>
                <tr>
                    <th>Article Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.title }}</td>
                        <td>
                            <a class="btn btn-dark" href="/reservation/{{ reservation.id }}">Show</a>
                            <a class="btn btn-dark" href="/reservation/edit/{{ reservation.id }}">Edit</a>
                            <a class="btn btn-danger delete-article" href="#" data-id="{{ reservation.id }}" >Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Reservation to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
        <script src="/js/index.js"></script>
{% endblock %}