{% extends 'base.html.twig' %}

{% block title %}Symfony Reservation{% endblock %}

{% block body %}
    <h1>{{ reservation.title }}</h1>
    <p>{{ reservation.body }}</p>
    <hr>
    <a href='/'>Go Back</a>
{% endblock %}